*.obj
__pycache__/*
*.DS_Store
*.o
*.a
*.so
*jobs.sh
.ipynb_checkpoints
*.pyc
external
cachedir
outputs
job_logs
ipyNb
*.brf
*.log
*.key
*.out
*.gz
*.blg
*.aux
*.bbl
*.fls
*.pdf
*.texnicle
*.fdb_latexmk
#*.ipynb
volumetric_networks.egg-info
